@charset "UTF-8";

body {
	background-color: rgb(192, 192, 192);
}

span {
	font-size: 25px;
	margin-left: 15px;
}

.id{
	margin-left: 50px;
}

input{
	font-size: 20px;
}

input[type=submit] {
	margin: 20px;
	border: 2px solid black;
	border-radius: 10px;
	background-color: orange;
}

input[type=text] {
	margin-left: 15px;
}

input[type=number] {
	margin-left: 32px;	
}

a {
	font-size: 20px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-top: 2px;
	margin: 20px;
	border: 2px solid black;
	border-radius: 10px;
	background-color: orange;
	text-decoration: none;
}